.App {
  text-align: center;
}

button {
  font-family: "utopia_seriff";
}

@font-face {
  font-family: "utopia_seriff";
  src: local("utopia_seriff"), url("./fonts/utopia_seriff.ttf");
}

h2 {
  font-size: calc(10px + 2vmin);
}
h1 {
  font-size: calc(20px + 4vmin);
}

h1 {
  font-size: 5rem;
}
h2 {
  font-size: 3rem;
}

p {
  font-size: 1rem;
  font-weight: bolder;
}
